In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
%matplotlib inline

In [3]:
df = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/kaggle-Recommendation/movies_metadata.csv')
df.head(2).T

C:\Users\xiaoj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1
adult,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN
budget,30000000,65000000
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
homepage,http://toystory.disney.com/toy-story,NaN
id,862,8844
imdb_id,tt0114709,tt0113497
original_language,en,en
original_title,Toy Story,Jumanji
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...
popularity,21.9469,17.0155
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15
revenue,3.73554e+08,2.62797e+08
runtime,81,104
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
status,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!
title,Toy Story,Jumanji
video,False,False
vote_average,7.7,6.9
vote_count,5415,2413

In [4]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
df.shape

(45466, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
df = df.drop(['imdb_id'], axis=1)

In [8]:
df[df['original_title'] != df['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [16]:
df = df.drop('original_title', axis=1)

In [9]:
df[df['revenue'] == 0].shape

(38052, 23)

In [10]:
df['revenue'] = df['revenue'].replace(0, np.nan)

In [11]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['budget'] = df['budget'].replace(0, np.nan)
df[df['budget'].isnull()].shape

(36576, 23)

In [12]:
df['return'] = df['revenue'] / df['budget']
df[df['return'].isnull()].shape

(40085, 24)

In [13]:
df['year'] = pd.to_datetime(df['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [14]:
df['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

There are close to 0 adult movies in this dataset. The adult feature therefore is not of much use to us and can be safely dropped.

In [15]:
df = df.drop('adult', axis=1)

In [17]:
df['title'] = df['title'].astype('str')
df['overview'] = df['overview'].astype('str')
# The following I did not fill is to draw a wordcloud

In [19]:
import ast

df['production_countries'] = df['production_countries'].fillna('[]').apply(ast.literal_eval)
df['production_countries'] = df['production_countries'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [20]:
s = df.apply(lambda x: pd.Series(x['production_countries']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'countries'

<ipython-input-20-ae01bc924e33>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = df.apply(lambda x: pd.Series(x['production_countries']),axis=1).stack().reset_index(level=1, drop=True)

In [21]:
con_df = df.drop('production_countries', axis=1).join(s)
con_df = pd.DataFrame(con_df['countries'].value_counts())
con_df['country'] = con_df.index
con_df.columns = ['num_movies', 'country']
con_df = con_df.reset_index().drop('index', axis=1)
con_df.head(10)

   num_movies                   country
0       21153  United States of America
1        4094            United Kingdom
2        3940                    France
3        2254                   Germany
4        2169                     Italy
5        1765                    Canada
6        1648                     Japan
7         964                     Spain
8         912                    Russia
9         828                     India

In [22]:
df_fran = df[df['belongs_to_collection'].notnull()]
df_fran['belongs_to_collection'] = df_fran['belongs_to_collection'].apply(ast.literal_eval).apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)
df_fran = df_fran[df_fran['belongs_to_collection'].notnull()]

<ipython-input-22-2ba282283898>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fran['belongs_to_collection'] = df_fran['belongs_to_collection'].apply(ast.literal_eval).apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [23]:
fran_pivot = df_fran.pivot_table(index='belongs_to_collection', values='revenue', aggfunc={'revenue': ['mean', 'sum', 'count']}).reset_index()

In [24]:
fran_pivot.sort_values('sum', ascending=False).head(10)

                    belongs_to_collection  count          mean           sum
552               Harry Potter Collection      8  9.634209e+08  7.707367e+09
1160                 Star Wars Collection      8  9.293118e+08  7.434495e+09
646                 James Bond Collection     26  2.733450e+08  7.106970e+09
1317  The Fast and the Furious Collection      8  6.406373e+08  5.125099e+09
968   Pirates of the Caribbean Collection      5  9.043154e+08  4.521577e+09
1550              Transformers Collection      5  8.732202e+08  4.366101e+09
325              Despicable Me Collection      4  9.227676e+08  3.691070e+09
1491              The Twilight Collection      5  6.684215e+08  3.342107e+09
610                    Ice Age Collection      5  6.433417e+08  3.216709e+09
666              Jurassic Park Collection      4  7.578710e+08  3.031484e+09

In [25]:
fran_pivot.sort_values('mean', ascending=False).head(10)

                    belongs_to_collection  count          mean           sum
112                     Avatar Collection      1  2.787965e+09  2.787965e+09
1245              The Avengers Collection      2  1.462481e+09  2.924962e+09
479                     Frozen Collection      1  1.274219e+09  1.274219e+09
446               Finding Nemo Collection      2  9.844532e+08  1.968906e+09
1352                The Hobbit Collection      3  9.785078e+08  2.935523e+09
1388     The Lord of the Rings Collection      3  9.721816e+08  2.916545e+09
552               Harry Potter Collection      8  9.634209e+08  7.707367e+09
1160                 Star Wars Collection      8  9.293118e+08  7.434495e+09
325              Despicable Me Collection      4  9.227676e+08  3.691070e+09
968   Pirates of the Caribbean Collection      5  9.043154e+08  4.521577e+09

[The most commonly used word in movie titles](#themostcommonlyusedwordinmovietitles) 

[The most popular destinations for shooting movies](#themostpopulardestinationsforshootingmovies) 

[Highest Grossing Movie Franchises](#highestgrossingmoviefranchises) 

[Most Successful Movie Franchises](#mostsuccessfulmoviefranchises) 

[Longest Running Franchises](#longestrunningfranchises) 

[Highest Earning Production Companies](#highestearningproductioncompanies) 

[Most Succesful Production Companies](#mostsuccesfulproductioncompanies) 

[Original Language Distribution](#originallanguagedistribution) 

[Most Popular Movies by Popularity Score](#mostpopularmoviesbypopularityscore) 

[Most Voted on Movies](#mostvotedonmovies) 

[Most Critically Acclaimed Movies](#mostcriticallyacclaimedmovies) 

[The most popular and most successful months and days](#themostpopularandmostsuccessfulmonthsanddays) 

[Earliest Movies Represented](#earliestmoviesrepresented) 

[Does the number of spoken languages influence the success of a movie?](#doesthenumberofspokenlanguagesinfluencethesuccessofamovie)

[Is there any meaningful relationship between runtime and return?](#isthereanymeaningfulrelationshipbetweenruntimeandreturn)

[The longest and the shortest movies](#thelongestandtheshortestmovies)

[Most Expensive Movies](#mostexpensivemovies)

[Predict the revenue for movies](#predicttherevenueformovies)

[Highest Grossing Films](#highestgrossingfilms)

[The least and the most successful movies](#theleastandthemostsuccessfulmovies)

[If some genres are particularly more successful than others](#ifsomegenresareparticularlymoresuccessfulthanothers)

[Actors with Highest Average Revenue](#actorswithhighestaveragerevenue)

[Most Successful Actors](#mostsuccessfulactors)

[Regression: Predicting Movie Revenues](#regressionpredictingmovierevenues)

[Classification: Predicting Movie Sucess](#classificationpredictingmoviesucess)

<a id='themostcommonlyusedwordinmovietitles'></a>
#### The most commonly used word in movie titles

<a id='themostpopulardestinationsforshootingmovies'></a>
#### The most popular destinations for shooting movies

<a id='highestgrossingmoviefranchises'></a>
#### Highest Grossing Movie Franchises

<a id='mostsuccessfulmoviefranchises'></a> 
#### Most Successful Movie Franchises

<a id='longestrunningfranchises'></a>
#### Longest Running Franchises

<a id='highestearningproductioncompanies'></a>
#### Highest Earning Production Companies

<a id='mostsuccesfulproductioncompanies'></a>
#### Most Succesful Production Companies

<a id='originallanguagedistribution'></a>
#### Original Language Distribution

<a id='mostpopularmoviesbypopularityscore'></a>
#### Most Popular Movies by Popularity Score

<a id='mostvotedonmovies'></a>
#### Most Voted on Movies

<a id='mostcriticallyacclaimedmovies'></a>
#### Most Critically Acclaimed Movies

<a id='themostpopularandmostsuccessfulmonthsanddays'></a>
#### The most popular and most successful months and days

<a id='earliestmoviesrepresented'></a>
#### Earliest Movies Represented

<a id='doesthenumberofspokenlanguagesinfluencethesuccessofamovie'></a>
#### Does the number of spoken languages influence the success of a movie?

<a id='isthereanymeaningfulrelationshipbetweenruntimeandreturn'></a>
#### Is there any meaningful relationship between runtime and return?

<a id='thelongestandtheshortestmovies'></a>
#### The longest and the shortest movies

<a id='mostexpensivemovies'></a>
#### Most Expensive Movies

<a id='predicttherevenueformovies'></a>
#### Predict the revenue for movies

<a id='highestgrossingfilms'></a>
#### Highest Grossing Films

<a id='theleastandthemostsuccessfulmovies'></a>
#### The least and the most successful movies

<a id='ifsomegenresareparticularlymoresuccessfulthanothers'></a>
#### If some genres are particularly more successful than others

<a id='actorswithhighestaveragerevenue'></a>
#### Actors with Highest Average Revenue

<a id='mostsuccessfuldirectors'></a>
#### Most Successful Directors

<a id='mostsuccessfulactors'></a>
#### Most Successful Actors

<a id='regressionpredictingmovierevenues'></a>
#### Regression: Predicting Movie Revenues

<a id='classificationpredictingmoviesucess'></a>
#### Classification: Predicting Movie Sucess