In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Demographic?? Based Recommender

In [352]:
import warnings; warnings.simplefilter('ignore')
md = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/kaggle-Recommendation/movies_metadata.csv')
md.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [182]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [183]:
from ast import literal_eval
md['genres'] = md['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else 0)
md['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [184]:
md[md['vote_average'].notnull()]['vote_average']

0        7.7
1        6.9
2        6.5
3        6.1
4        5.7
        ...
45461    4.0
45462    9.0
45463    3.8
45464    0.0
45465    0.0
Name: vote_average, Length: 45460, dtype: float64

In [74]:
md[md['vote_average'].notnull()]['vote_average'].astype('int')

0        7
1        6
2        6
3        6
4        5
        ..
45461    4
45462    9
45463    3
45464    0
45465    0
Name: vote_average, Length: 45460, dtype: int32

In [185]:
md[md['vote_average'].notnull()]['vote_average'].mean()

5.618207215133889

In [186]:
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')

In [187]:
C = vote_averages.mean()
C

5.244896612406511

In [268]:
m = vote_counts.quantile(0.9)
m

160.0

In [354]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [355]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  year                   45466 non-null  object
dtypes: float64(4), object(21)
memory usage: 8.7+ MB

In [356]:
qualified = md[(md['vote_count'] >= m)][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4555 entries, 0 to 45343
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         4555 non-null   object
 1   year          4555 non-null   object
 2   vote_count    4555 non-null   float64
 3   vote_average  4555 non-null   float64
 4   popularity    4555 non-null   object
 5   genres        4555 non-null   object
dtypes: float64(2), object(4)
memory usage: 249.1+ KB

In [357]:
qualified = md[(md['vote_count'] >= m)][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(4555, 6)

In [192]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [193]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [194]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [358]:
qualified.head()

,title,year,vote_count,vote_average,popularity,genres
0,Toy Story,1995,5415,7,21.9469,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,1995,2413,6,17.0155,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
4,Father of the Bride Part II,1995,173,5,8.38752,"[{'id': 35, 'name': 'Comedy'}]"
5,Heat,1995,1886,7,17.9249,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
8,Sudden Death,1995,174,5,5.23158,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."

In [437]:
md['popularity'].map(type)

0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
45461      <class 'str'>
45462      <class 'str'>
45463      <class 'str'>
45464      <class 'str'>
45465      <class 'str'>
Name: popularity, Length: 45466, dtype: object

In [458]:
b= md[['popularity','id','original_language']]
b.head()

  popularity     id original_language
0    21.9469    862                en
1    17.0155   8844                en
2    11.7129  15602                en
3    3.85949  31357                en
4    8.38752  11862                en

In [459]:
b.shape

(45466, 3)

In [460]:
b['popularity'].map(type)

0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
45461      <class 'str'>
45462      <class 'str'>
45463      <class 'str'>
45464      <class 'str'>
45465      <class 'str'>
Name: popularity, Length: 45466, dtype: object

In [463]:
b.drop(b[b['popularity'].map(type) != float].index,inplace=True)

In [464]:
b.shape

(32769, 3)

In [472]:
b.sort_values('popularity', ascending=False)

      popularity          id original_language
30700    547.488      211672                en
24455     213.85      177572                en
26564     187.86      293660                en
26566    185.331      283995                en
14551    185.071       19995                en
...          ...         ...               ...
19729        NaN       82663                en
19730        NaN  1997-08-20             104.0
29502        NaN      122662                ja
29503        NaN  2012-09-29              68.0
35586        NaN      249260                en

[32769 rows x 3 columns]

In [477]:
a= md.copy()

In [511]:
def is_float(s):
    popularity=[]
    for i in s:
        try:
            float(i)
            popularity.append(i)
        except:
            pass
    return popularity

In [512]:
is_float(a['popularity'])

[21.946943,
 17.015539,
 11.7129,
 3.859495,
 8.387519000000001,
 17.924927,
 6.677277,
 2.5611610000000002,
 5.23158,
 14.686035999999998,
 6.318445,
 5.430331,
 12.140733,
 5.092,
 7.284477000000001,
 10.137389,
 10.673167,
 9.026586,
 8.205447999999999,
 7.337905999999999,
 12.669608,
 10.701801,
 11.065939,
 12.133094,
 10.332025,
 1.8458990000000002,
 8.681325,
 2.228434,
 9.822422999999999,
 1.1009149999999999,
 9.481338000000001,
 12.297305,
 0.745542,
 14.404764000000002,
 1.4933610000000002,
 6.891317,
 0.114469,
 7.777735000000001,
 9.882383,
 0.894647,
 4.561387,
 9.87957,
 10.979269,
 10.870138,
 10.448481,
 4.485958,
 18.45743,
 13.280069000000001,
 3.302524,
 16.302466,
 0.595949,
 15.899134,
 1.361286,
 5.9827639999999995,
 4.093443,
 0.307075,
 8.416802,
 10.168436999999999,
 0.12078900000000001,
 10.673296,
 4.733526,
 7.137117,
 11.700115,
 2.174487,
 6.387469,
 2.49535,
 4.046208,
 2.518051,
 14.56965,
 15.339153,
 5.912223,
 3.3672760000000004,
 1.4794459999999998,
 10.412194,
 2.936443,
 12.758848,
 0.133893,
 5.756462,
 6.010579,
 1.196256,
 4.486179,
 2.030174,
 0.252287,
 0.531159,
 2.1516599999999997,
 9.568603999999999,
 4.814825,
 8.963037,
 6.848591000000001,
 0.41142399999999996,
 12.866139,
 9.071127,
 4.670562,
 14.957626000000001,
 0.5133909999999999,
 12.108196000000001,
 2.6576470000000003,
 0.638211,
 4.8072230000000005,
 6.904831,
 3.329264,
 2.464425,
 9.592265,
 5.951077,
 1.015068,
 6.902423,
 0.976707,
 0.0013460000000000002,
 20.755149,
 14.092713,
 12.314278,
 2.938293,
 0.372697,
 1.254885,
 0.243986,
 6.178497,
 2.891918,
 1.522412,
 1.317878,
 0.86539,
 6.506983,
 6.778979,
 1.702639,
 5.579088,
 6.252377,
 0.406754,
 0.001178,
 0.699066,
 2.197439,
 0.637554,
 11.418917,
 0.29102100000000003,
 0.001838,
 5.184977,
 0.276401,
 0.5404359999999999,
 0.370342,
 0.0012050000000000001,
 3.4027489999999996,
 6.499680000000001,
 0.9185040000000001,
 2.039196,
 9.262184,
 2.375865,
 7.415144000000001,
 0.922958,
 1.7590119999999998,
 18.761467,
 10.193549,
 3.137285,
 13.321354000000001,
 10.142662,
 2.04189,
 11.528147,
 5.391556,
 12.812539,
 4.558992,
 7.260574,
 8.657364999999999,
 3.6203879999999997,
 6.950458,
 4.646132,
 15.138855,
 7.120806,
 0.523575,
 15.178338,
 7.575098,
 14.810519000000001,
 3.196456,
 11.715867999999999,
 8.184814999999999,
 3.676921,
 4.877872,
 10.058328999999999,
 4.102409,
 0.354014,
 2.624771,
 8.255469999999999,
 7.024227000000001,
 1.01115,
 2.466066,
 7.720056,
 13.304342000000002,
 8.482834,
 1.165039,
 10.187623,
 0.11971300000000001,
 8.180047,
 6.752119,
 0.15959600000000002,
 17.502375,
 5.5529459999999995,
 3.743212,
 13.492845,
 0.913522,
 11.223055,
 8.133881,
 1.8204189999999998,
 11.002046,
 4.546551999999999,
 7.653446000000001,
 7.490247,
 2.8816889999999997,
 0.7860229999999999,
 9.715639,
 16.885184,
 1.8340990000000001,
 8.922139,
 3.727644,
 3.287036,
 2.4860729999999998,
 3.5256489999999996,
 11.304979,
 6.638116,
 2.761837,
 3.030309,
 2.686342,
 2.2697700000000003,
 2.605521,
 10.513367,
 7.438934,
 11.812244,
 0.155859,
 9.579155,
 0.710671,
 5.484156,
 5.8025,
 9.844558000000001,
 4.860016000000001,
 5.378467,
 4.322726,
 11.720358000000001,
 9.146544,
 16.236745000000003,
 2.657337,
 10.177977,
 8.182165,
 4.953936,
 8.935058,
 0.398924,
 0.090452,
 1.012197,
 9.47666,
 9.438042,
 2.688562,
 7.983666,
 9.546707000000001,
 2.756986,
 5.146351999999999,
 11.970205,
 1.596058,
 0.748846,
 6.710215,
 9.195256,
 5.874511,
 7.797511999999999,
 42.149696999999996,
 9.774994,
 7.731725,
 0.8450799999999999,
 1.9483150000000002,
 4.126083,
 12.199047,
 9.253362,
 1.8612919999999997,
 1.788829,
 3.290192,
 7.698525999999999,
 4.81307,
 14.287753,
 2.558118,
 2.899608,
 3.770115,
 5.831622,
 1.1372659999999999,
 3.1212880000000003,
 9.518564,
 2.891269,
 5.930957,
 0.629955,
 0.004536999999999999,
 0.42695200000000005,
 1.466491,
 0.769522,
 11.226856,
 4.936761,
 4.025276,
 6.448039,
 13.676444,
 20.477329,
 1.4335440000000002,
 0.46330699999999997,
 140.95023600000002,
 7.1601490000000005,
 1.638622,
 1.881932,
 7.772505000000001,
 1.296912,
 4.405405,
 7.54701,
 3.395867,
 6.2594330000000005,
 7.832755000000001,
 8.843517,
 6.5898,
 0.07825700000000001,
 1.155255,
 0.499601,
 1.390885,
 8.910461999999999,
 1.7504810000000002,
 10.388183,
 13.328923999999999,
 9.665424,
 51.645403,
 8.223025999999999,
 1.298224,
 1.7771970000000001,
 5.869261,
 1.407427,
 5.05806,
 5.2606269999999995,
 7.602086999999999,
 9.455342,
 8.105708,
 2.86007,
 0.7042039999999999,
 6.529879,
 11.971318,
 7.039846000000001,
 2.059771,
 0.620873,
 10.3919,
 5.1883989999999995,
 15.783615,
 3.9085959999999997,
 0.372239,
 5.254847,
 2.15805,
 11.247957000000001,
 8.328596000000001,
 2.487951,
 11.298195,
 5.72288,
 7.5132449999999995,
 15.263829000000001,
 6.924689,
 2.5330220000000003,
 15.799335999999998,
 2.5833630000000003,
 15.019585999999999,
 48.307194,
 8.990345,
 7.817811,
 0.28929499999999997,
 3.570874,
 11.272072999999999,
 10.714235,
 0.5688840000000001,
 21.605760999999998,
 5.681522,
 9.860522,
 14.134879999999999,
 15.050326,
 4.739054,
 10.587232,
 4.006063,
 6.5145919999999995,
 5.137903,
 6.595255,
 4.931565,
 10.511241,
 10.859292,
 2.3342259999999997,
 8.907074,
 11.396099000000001,
 4.322544000000001,
 14.063845,
 9.277147,
 0.912415,
 0.406113,
 2.5045290000000002,
 3.0215259999999997,
 0.054148,
 0.934312,
 4.220541000000001,
 0.912909,
 0.381704,
 13.584489999999999,
 2.342756,
 0.251223,
 1.108494,
 0.268043,
 0.14235699999999998,
 0.40539200000000003,
 0.014925,
 0.30295700000000003,
 0.012456,
 0.23337600000000003,
 0.0368,
 6.8666339999999995,
 0.100685,
 8.497643,
 1.888534,
 4.38154,
 17.555909,
 0.394194,
 8.013617,
 7.09232,
 1.8962729999999999,
 12.967239,
 14.644772,
 1.632711,
 2.783872,
 5.673735,
 11.787784,
 8.398845,
 3.0028200000000003,
 13.155071,
 6.131056,
 4.993829,
 6.559692999999999,
 4.304224,
 6.115628,
 1.679042,
 1.316741,
 8.698509,
 8.605703,
 2.724621,
 9.830853,
 10.722729,
 14.228963,
 7.042878,
 4.286279,
 2.70097,
 13.696394,
 6.8652,
 11.626116,
 0.408159,
 2.970724,
 3.555139,
 4.875826999999999,
 1.344876,
 9.284624,
 0.985441,
 2.969003,
 1.896869,
 0.409427,
 8.468869,
 9.678367,
 5.990572,
 3.970215,
 10.089369999999999,
 4.653462,
 14.214402999999999,
 2.410545,
 0.775898,
 5.22583,
 5.385108,
 7.834351,
 4.1905410000000005,
 13.482370999999999,
 2.138959,
 5.331753,
 10.687795,
 0.9960469999999999,
 7.550545,
 1.7429740000000002,
 6.071466,
 12.637158,
 7.405895,
 0.6133350000000001,
 14.820882999999998,
 4.563989,
 5.538671,
 8.863776,
 8.4337,
 4.948569,
 4.3753470000000005,
 3.645342,
 9.434006,
 6.446229,
 2.913584,
 6.5169760000000005,
 5.43085,
 9.861672,
 5.997712,
 8.939404,
 5.260924,
 13.106291,
 8.932494,
 0.534606,
 8.627239999999999,
 6.579753,
 13.011091,
 11.16553,
 8.665198,
 9.9697,
 0.5962069999999999,
 9.715187,
 15.534707000000001,
 3.800785,
 8.040589,
 13.373006,
 7.436758,
 6.972599000000001,
 3.199976,
 7.272296000000001,
 8.506727,
 5.868677,
 12.222576,
 4.985157,
 6.279082,
 3.416181,
 8.685798,
 17.136672,
 9.796318,
 5.157926,
 0.941994,
 5.914833,
 1.065843,
 1.031556,
 41.725122999999996,
 5.7156080000000005,
 12.048587,
 0.8825959999999999,
 6.499523,
 5.305311,
 7.881107000000001,
 2.9658599999999997,
 8.829336999999999,
 4.13516,
 2.86213,
 8.730025,
 10.234919,
 11.23297,
 96.272374,
 9.122717999999999,
 8.051914,
 13.390917000000002,
 1.825468,
 7.198455,
 3.6446410000000005,
 8.012225,
 0.8730680000000001,
 10.82236,
 17.730913,
 6.34785,
 11.338194,
 0.8558600000000001,
 17.189328,
 1.273617,
 7.436000999999999,
 0.741522,
 0.38247,
 0.422224,
 5.14056,
 2.759302,
 9.85327,
 5.513024,
 0.449733,
 3.647321,
 0.44158500000000006,
 1.960563,
 1.7645819999999999,
 0.00015,
 0.0027890000000000002,
 3.456868,
 2.799575,
 6.707109,
 8.2e-05,
 3.139316,
 0.046196,
 1.943323,
 6.784687,
 1.040873,
 2.904734,
 1.213481,
 4.233092,
 0.702543,
 11.945397,
 16.357419,
 22.661695,
 11.654349,
 0.426887,
 19.10673,
 4.307222,
 16.263878,
 23.433511,
 14.202283999999999,
 13.348451,
 0.345748,
 11.722424,
 3.4052300000000004,
 0.088451,
 0.076352,
 2.47308,
 7.009946,
 4.9835519999999995,
 1.4610290000000001,
 12.61469,
 14.657754,
 7.640072999999999,
 5.263187,
 8.174116,
 2.420301,
 0.618066,
 1.3066280000000001,
 9.834047,
 2.286788,
 1.620174,
 5.174212000000001,
 0.736081,
 0.5169239999999999,
 0.173207,
 0.793932,
 1.9833009999999998,
 2.2567470000000003,
 4.619915,
 10.326213000000001,
 0.065827,
 1.67218,
 5.028897,
 6.144235,
 0.466476,
 2.583686,
 6.207993,
 0.319215,
 5.70904,
 1.5234459999999999,
 4.405169,
 4.530079,
 4.7281629999999994,
 0.14915699999999998,
 0.066123,
 0.002229,
 1.784647,
 11.595316,
 15.793477,
 0.49497700000000006,
 2.337263,
 0.821299,
 0.39662600000000003,
 23.636589999999998,
 0.439989,
 0.622885,
 3.09233,
 1.558066,
 0.002444,
 3.804493,
 0.987434,
 13.217623000000001,
 6.9549259999999995,
 2.299851,
 1.2968620000000002,
 14.587894,
 3.582047,
 3.085207,
 3.9007089999999995,
 2.381806,
 2.985163,
 0.001662,
 11.054250999999999,
 14.304205,
 0.062388,
 0.466991,
 0.459376,
 0.11766199999999999,
 4.658149,
 2.2722130000000003,
 0.18342999999999998,
 0.004117,
 0.400023,
 2.791667,
 0.487357,
 4.357971,
 0.122178,
 9.1861,
 1.899069,
 0.7106600000000001,
 10.685369999999999,
 1.217249,
 0.8778530000000001,
 10.298582000000001,
 1.0991870000000001,
 0.006854000000000001,
 2.25008,
 0.755047,
 7.918417999999999,
 1.579153,
 7.941972,
 0.9470069999999999,
 1.231692,
 5.794630000000001,
 5.1212029999999995,
 10.813578999999999,
 1.9407470000000002,
 4.5570059999999994,
 1.926109,
 0.709209,
 6.505272,
 1.690768,
 6.035166,
 1.133409,
 7.326169,
 8.768806,
 0.037443000000000004,
 0.003949,
 12.860385,
 3.321765,
 1.1966860000000001,
 0.005625,
 1.92386,
 0.543042,
 9.264679,
 0.343579,
 13.249823999999998,
 0.7466619999999999,
 6.247819,
 8.739144,
 5.877599,
 0.125882,
 0.652621,
 10.686166,
 4.856229,
 8.202057,
 0.594716,
 6.796858,
 4.386329,
 1.751457,
 6.497591000000001,
 0.068254,
 9.803980000000001,
 0.160571,
 0.75,
 0.8510780000000001,
 5.508101,
 1.048075,
 0.146287,
 5.215992,
 0.40153099999999997,
 0.0016079999999999998,
 7.6672839999999995,
 8.079541,
 11.341502,
 1.427756,
 0.889498,
 6.2872449999999995,
 2.771201,
 0.36541799999999997,
 0.099602,
 0.514363,
 0.011937999999999999,
 0.043903,
 0.049573,
 1.794298,
 0.0016870000000000001,
 0.8379110000000001,
 19.348466000000002,
 2.7000610000000003,
 17.634197,
 6.418805,
 12.202063,
 13.553999,
 7.586577,
 11.633347,
 6.919314,
 0.10705,
 9.651581,
 0.202495,
 0.8263719999999999,
 0.043125,
 0.000308,
 0.05956,
 0.9706879999999999,
 0.147662,
 0.5734229999999999,
 11.995799,
 12.09096,
 9.069963000000001,
 4.086563,
 5.575991999999999,
 0.9132809999999999,
 10.827266,
 13.309013,
 7.031279,
 0.22712800000000002,
 2.318141,
 3.906949,
 8.962892,
 0.091984,
 3.521921,
 1.5660399999999999,
 0.926867,
 0.145092,
 9.898696000000001,
 0.036699,
 1.116063,
 0.270432,
 1.683348,
 0.0005780000000000001,
 1.165202,
 0.10634500000000001,
 1.606957,
 7.523528,
 9.490858,
 10.177303,
 0.9402280000000001,
 8.772188,
 4.220058,
 0.8798520000000001,
 3.186891,
 15.874491,
 10.034915,
 6.593011,
 6.554678999999999,
 12.297782000000002,
 9.935891,
 3.4504019999999995,
 0.042365,
 0.001652,
 0.076062,
 1.663948,
 0.404501,
 1.19589,
 12.229381,
 1.781952,
 4.797674,
 6.2496599999999995,
 0.12427300000000001,
 0.9692540000000001,
 0.629807,
 0.03537,
 0.036478,
 41.109264,
 8.593319000000001,
 6.751864,
 1.143656,
 0.096079,
 0.9091299999999999,
 12.449574,
 3.7140489999999997,
 0.9139870000000001,
 5.130136,
 2.289647,
 0.14315,
 1.404588,
 0.364246,
 0.705136,
 0.001771,
 1.2625389999999999,
 0.6356689999999999,
 0.10940599999999999,
 7.699967,
 12.725342999999999,
 6.5104370000000005,
 9.028947,
 0.234665,
 2.523605,
 7.859132000000001,
 0.9789889999999999,
 6.3724419999999995,
 0.062127999999999996,
 0.437895,
 8.768288,
 4.696680000000001,
 6.038784,
 0.472479,
 0.14712999999999998,
 2.115268,
 14.373860999999998,
 8.888069,
 11.064858000000001,
 5.5652029999999995,
 5.461487,
 10.879289,
 18.20822,
 17.911314,
 6.465257,
 14.545058,
 2.8639349999999997,
 12.410427,
 11.994280999999999,
 11.845107,
 7.098731,
 13.916101000000001,
 5.782544000000001,
 12.494394,
 7.3597410000000005,
 11.954806,
 5.640722,
 7.331511,
 22.064932000000002,
 14.240357000000001,
 2.9236720000000003,
 11.709777,
 15.811921,
 22.494622,
 0.949155,
 12.063080000000001,
 5.076649,
 8.590813,
 9.955445,
 10.135111,
 5.47596,
 9.813419,
 5.490505000000001,
 2.4691669999999997,
 3.5739349999999996,
 5.120036,
 8.196679,
 10.36311,
 1.954175,
 10.685036,
 7.431939,
 9.884516,
 3.008607,
 3.166544,
 7.122093,
 7.274947999999999,
 5.480098,
 10.864284,
 6.4288300000000005,
 10.573867,
 9.88321,
 6.164226,
 15.031588000000001,
 8.168694,
 6.60577,
 2.446972,
 0.284522,
 0.26469499999999996,
 1.831221,
 0.594433,
 4.709847,
 1.758391,
 0.8965049999999999,
 8.08426,
 5.865697,
 8.85591,
 1.4509889999999999,
 14.384198000000001,
 6.636872,
 2.001733,
 11.794846000000001,
 0.912955,
 10.750619,
 0.348765,
 0.367546,
 1.914697,
 0.283269,
 0.064512,
 1.0600969999999998,
 1.463219,
 8.500509,
 0.580724,
 0.537795,
 0.00264,
 5.5111550000000005,
 1.262649,
 9.364417999999999,
 0.751733,
 7.370163000000001,
 6.728199000000001,
 6.746475,
 1.226688,
 2.702973,
 11.845918,
 1.625873,
 6.85606,
 4.989276,
 2.781581,
 0.000308,
 0.5502779999999999,
 4.990506,
 5.918737,
 5.511475,
 3.9984940000000004,
 4.040945,
 5.497358999999999,
 7.1516910000000005,
 10.091707000000001,
 4.914603,
 12.887829,
 5.807074,
 3.254308,
 7.186506,
 3.404213,
 4.623089,
 2.8036790000000003,
 8.722406,
 8.307210000000001,
 10.892812,
 14.436857999999999,
 1.054814,
 8.702472,
 10.636458,
 0.901443,
 10.639244,
 15.11549,
 ...]

In [514]:
a['popularity']

0         21.9469
1         17.0155
2         11.7129
3         3.85949
4         8.38752
           ...
45461    0.072051
45462    0.178241
45463    0.903007
45464    0.003503
45465    0.163015
Name: popularity, Length: 45466, dtype: object

In [491]:
a['popularity'].map(type)

0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
45461      <class 'str'>
45462      <class 'str'>
45463      <class 'str'>
45464      <class 'str'>
45465      <class 'str'>
Name: popularity, Length: 45466, dtype: object

In [196]:
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [197]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    df['year'] = pd.to_datetime(df['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)
    
    #qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'vote_count', 'vote_average']]
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [198]:
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.565285
351,Forrest Gump,1994,8147,8,48.3072,7.971357
876,Vertigo,1958,1162,8,18.2082,7.811667
40251,Your Name.,2016,1030,8,34.461252,7.789489
883,Some Like It Hot,1959,835,8,11.8451,7.745154
1132,Cinema Paradiso,1988,834,8,14.177,7.744878
19901,Paperman,2012,734,8,7.19863,7.713951
37863,Sing Street,2016,669,8,10.672862,7.689483
882,The Apartment,1960,498,8,11.9943,7.599317
38718,The Handmaiden,2016,453,8,16.727405,7.566166
3189,City Lights,1931,444,8,10.8915,7.558867
24886,The Way He Looks,2014,262,8,5.71127,7.331363
45437,In a Heartbeat,2017,146,8,20.82178,7.003959
1639,Titanic,1997,7770,7,26.8891,6.981546
19731,Silver Linings Playbook,2012,4840,7,14.4881,6.970581

## Content Based Recommender
- Movie Overviews and Targlines
- Movie Casts, Crew, Keywords and Genre

### Movie Overviews and Targlines

In [521]:
links_small = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/kaggle-Recommendation/links_small.csv')
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [522]:
links_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9112 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [524]:
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
links_small

KeyError: 'tmdbId'

In [202]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  year                   45466 non-null  object
dtypes: float64(4), object(21)
memory usage: 8.7+ MB

In [518]:
md[md.index==19730]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
19730,- Written by Ã˜rnÃ¥s,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [204]:
md = md.drop([19730, 29503, 35587])

In [205]:
md['id'] = md['id'].astype('int')
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 25)

In [525]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [526]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [527]:
tfidf_matrix

<9219x268124 sparse matrix of type '<class 'numpy.float64'>'
	with 548485 stored elements in Compressed Sparse Row format>

In [208]:
tfidf_matrix.shape

(9099, 268124)

With this matrix in hand, we can now compute a similarity score. There are several candidates for this; such as the euclidean, the Pearson and the cosine similarity scores.


We will be using the cosine similarity to calculate a numeric quantity that denotes the similarity between two movies. We use the cosine similarity score since it is independent of magnitude and is relatively easy and fast to calculate. 


Since we have used the TF-IDF vectorizer, calculating the dot product will directly give us the cosine similarity score. Therefore, we will use sklearn's linear_kernel() instead of cosine_similarities() since it is faster.

In [209]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [210]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [211]:
def get_recommendations(title):
    # Get the index of the movie that matches the title
    idx = indices[title]
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [212]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

### Movie Casts, Crew, Keywords and Genre

In [213]:
credits = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/kaggle-Recommendation/credits.csv')
keywords = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/kaggle-Recommendation/keywords.csv')

In [214]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [215]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [216]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [217]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [218]:
md.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  object
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int32
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  object
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  year                   45463 non-null  object
dtypes: float64(4), int32(1), object(20)
memory usage: 8.8+ MB

In [219]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [222]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 28)

In [223]:
smd.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,year,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,1995,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [224]:
smd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9219 entries, 0 to 41669
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9219 non-null   object
 1   belongs_to_collection  1688 non-null   object
 2   budget                 9219 non-null   object
 3   genres                 9219 non-null   object
 4   homepage               2001 non-null   object
 5   id                     9219 non-null   int32
 6   imdb_id                9219 non-null   object
 7   original_language      9219 non-null   object
 8   original_title         9219 non-null   object
 9   overview               9207 non-null   object
 10  popularity             9219 non-null   object
 11  poster_path            9216 non-null   object
 12  production_companies   9219 non-null   object
 13  production_countries   9219 non-null   object
 14  release_date           9219 non-null   object
 15  revenue                9219 non-null   float64
 16  runtime                9219 non-null   float64
 17  spoken_languages       9219 non-null   object
 18  status                 9217 non-null   object
 19  tagline                7082 non-null   object
 20  title                  9219 non-null   object
 21  video                  9219 non-null   object
 22  vote_average           9219 non-null   float64
 23  vote_count             9219 non-null   float64
 24  year                   9219 non-null   object
 25  cast                   9219 non-null   object
 26  crew                   9219 non-null   object
 27  keywords               9219 non-null   object
dtypes: float64(4), int32(1), object(23)
memory usage: 2.0+ MB

In [530]:
smd.head(1)

,level_0,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,vote_average,vote_count,year,cast,crew,keywords,cast_size,crew_size,director,description
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,...,7.7,5415.0,1995,"[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousy, toy, boy, friendship, friends, riva...",13,106,"[johnlasseter, johnlasseter, johnlasseter]","Led by Woody, Andy's toys live happily in his ..."

In [529]:
#Right now, our data is present in the form of "stringified" lists , we need to convert it into a safe and usable structure
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    smd[feature] = smd[feature].apply(literal_eval)

ValueError: malformed node or string: ['tomhanks', 'timallen', 'donrickles']

In [225]:
# Right now, our data is present in the form of "stringified" lists , we need to convert it into a safe and usable structure
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [226]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [227]:
smd['director'] = smd['crew'].apply(get_director)

In [228]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [229]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [230]:
smd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9219 entries, 0 to 41669
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9219 non-null   object
 1   belongs_to_collection  1688 non-null   object
 2   budget                 9219 non-null   object
 3   genres                 9219 non-null   object
 4   homepage               2001 non-null   object
 5   id                     9219 non-null   int32
 6   imdb_id                9219 non-null   object
 7   original_language      9219 non-null   object
 8   original_title         9219 non-null   object
 9   overview               9207 non-null   object
 10  popularity             9219 non-null   object
 11  poster_path            9216 non-null   object
 12  production_companies   9219 non-null   object
 13  production_countries   9219 non-null   object
 14  release_date           9219 non-null   object
 15  revenue                9219 non-null   float64
 16  runtime                9219 non-null   float64
 17  spoken_languages       9219 non-null   object
 18  status                 9217 non-null   object
 19  tagline                7082 non-null   object
 20  title                  9219 non-null   object
 21  video                  9219 non-null   object
 22  vote_average           9219 non-null   float64
 23  vote_count             9219 non-null   float64
 24  year                   9219 non-null   object
 25  cast                   9219 non-null   object
 26  crew                   9219 non-null   object
 27  keywords               9219 non-null   object
 28  cast_size              9219 non-null   int64
 29  crew_size              9219 non-null   int64
 30  director               9195 non-null   object
dtypes: float64(4), int32(1), int64(2), object(24)
memory usage: 2.2+ MB

In [231]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

In [232]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [233]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [234]:
s = s[s > 1]

In [241]:
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [ ]:
stemmer = SnowballStemmer('english')

In [ ]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [ ]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [ ]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

One important difference is that we use the CountVectorizer() instead of TF-IDF. This is because we do not want to down-weight the presence of an actor/director if he or she has acted or directed in relatively more movies. It doesn't make much intuitive sense.

In [265]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd)

In [261]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [262]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [266]:
get_recommendations('The Dark Knight').head(10)

IndexError: index 6981 is out of bounds for axis 0 with size 31

add a mechanism to remove bad movies and return movies which are popular and have had a good critical response.

I will take the top 25 movies based on similarity scores and calculate the vote of the 60th percentile movie. Then, using this as the value of  m , we will calculate the weighted rating of each movie using IMDB's formula

In [237]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

## Collaborative Filtering

The Surprise library that used extremely powerful algorithms like Singular Value Decomposition (SVD) to minimise RMSE (Root Mean Square Error) and give great recommendations.

In [239]:
ratings = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges\kaggle-Recommendation/ratings_small.csv')
ratings.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [244]:
reader = Reader()
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
svd = SVD()
cross_validate(svd, data, measures=['RMSE','MAE'], cv=5)

{'test_rmse': array([0.89229498, 0.89998225, 0.89894022, 0.89314851, 0.90032888]),
 'test_mae': array([0.68670024, 0.6918187 , 0.69292781, 0.68916344, 0.69193228]),
 'fit_time': (6.417524814605713,
  8.142713069915771,
  8.30793309211731,
  10.049753665924072,
  7.663072109222412),
 'test_time': (0.16963744163513184,
  0.19544410705566406,
  0.1882307529449463,
  0.18550419807434082,
  0.19148874282836914)}

In [245]:
trainset = data.build_full_trainset()
svd.train(trainset)

AttributeError: 'SVD' object has no attribute 'train'

In [246]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [247]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.8394889875203244, details={'was_impossible': False})

For movie with ID 302, we get an estimated prediction of 2.686. One startling feature of this recommender system is that it doesn't care what the movie is (or what it contains). It works purely on the basis of an assigned movie ID and tries to predict ratings based on how the other users have predicted the movie.

## Hybrid Recommender

In [248]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [249]:
id_map = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges\kaggle-Recommendation/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')

In [250]:
indices_map = id_map.set_index('id')

In [251]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [252]:
hybrid(1, 'Avatar')

,title,vote_count,vote_average,year,id,est
1180,"The Good, the Bad and the Ugly",2371.0,8.1,1966,429,3.361924
7016,NausicaÃ¤ of the Valley of the Wind,808.0,7.7,1984,81,3.175385
6367,Duel at Diablo,22.0,6.3,1966,1403,3.002948
4101,Double Impact,219.0,5.3,1991,9594,2.963343
16462,True Grit,1701.0,7.2,2010,44264,2.924585
3457,Caddyshack,370.0,6.7,1980,11977,2.905869
15219,Steam of Life,11.0,6.9,2010,52903,2.824212
9791,The Nomi Song,5.0,6.7,2004,41569,2.806237
3076,Brenda Starr,7.0,5.1,1989,47070,2.801467
6603,Fire,17.0,6.0,1996,513,2.801467